<!-- <app-nav-bar></app-nav-bar> -->
<div class="container-fluid">
  <div class="row">
    <div class="">
      <ul class="nav nav-sidebar">
        <li class="active"><a routerLink="/user">Users List</a></li>
        <li><a routerLink="/user/add">add new </a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>
    </div>
  </div>
</div>
<br>

<h3>{{email}}</h3>
<div>
  <ul class="list-group">
    <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Blocks</strong></span> 2</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Services</strong></span> 13</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Dept</strong></span> -37 T.D</li>
    <li class="list-group-item text-right"><span class="pull-left"><strong>Depost</strong></span> +70 T.D</li>
  </ul>
</div>
