<!-- <!-- <div class="text-center">
  UNI <div id="Blocks">Blocks</div>
</div> -->
<div class="scrollContent">
  <section id="titlechart">
    <div id="description">
      <h1 class="badge gsap">Reveal on Scroll</h1>
      <a href="#" class="viewsource">view source</a>
    </div>
    <script>
      // init controller
      var controller = new ScrollMagic.Controller();

    </script>
  </section>
  <section class="demo">
    <div class="spacer s2"></div>
    <div id="trigger1" class="spacer s0"></div>
    <div id="reveal1" class="box2 blue">
    </div>
    <div class="spacer s2"></div>
  </section>
  <section class="demo">
    <div class="spacer s2"></div>
    <div id="trigger2" class="spacer s0"></div>
    <div id="reveal2" class="box1 turqoise">
      <p>I will stay visible once revealed.<br>(reload to see effect again)</p>
      <a href="#" class="viewsource">view source</a>
    </div>
    <div class="spacer s2"></div>
    <script>
      // build scene
      new ScrollMagic.Scene({
          triggerElement: "#trigger2",
          triggerHook: 0.9,
          offset: 50, // move trigger to center of element
          reverse: false // only do once
        })
        .setClassToggle("#reveal2", "visible") // add class toggle
        .addIndicators() // add indicators (requires plugin)
        .addTo(controller);

    </script>
  </section>
  <section class="demo">
    <style type="text/css">

    </style>
    <div class="spacer s2"></div>
    <div class="spacer s0"></div>
    <div class="box2	 white">
      <p>Multiple elements can be looped over and animated as they enter the viewport.</p>
      <a href="#" class="viewsource">view source</a>
    </div>
    <div class="spacer s0"></div>
    <div id="reveal-elements">
      <div class="box1 digit blue">
        <p>1</p>
      </div>
      <div class="box1 digit turqoise">
        <p>2</p>
      </div>
      <div class="box1 digit red">
        <p>3</p>
      </div>
      <div class="box1 digit green">
        <p>4</p>
      </div>
      <div class="box1 digit orange">
        <p>5</p>
      </div>
    </div>
    <div class="spacer s2"></div>
    <script>
      // build scenes
      var revealElements = document.getElementsByClassName("digit");
      for (var i = 0; i < revealElements.length; i++) { // create a scene for each element
        new ScrollMagic.Scene({
            triggerElement: revealElements[i], // y value not modified, so we can use element as trigger as well
            offset: 50, // start a little later
            triggerHook: 0.9,
          })
          .setClassToggle(revealElements[i], "visible") // add class toggle
          .addIndicators({
            name: "digit " + (i + 1)
          }) // add indicators (requires plugin)
          .addTo(controller);
      }

    </script>
  </section>
  <section class="demo">
    <div class="spacer s2"></div>
    <div id="gsap-trigger" class="spacer s0"></div>
    <div id="gsap-anim" class="box1 blue"
      style="opacity: 0; transform: matrix3d(-0.7, 0, 0, 0, 0, 0.7, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1);">
      <p>
        Use <a href="http://scrollmagic.io/docs/animation.GSAP.html" target="_blank">GSAP</a> if you want to link the
        animation directly to scroll progress<br>
        or you just need more control over the timeline.
      </p>
      <a href="#" class="viewsource">view source</a>
    </div>
    <div class="spacer s2"></div>
    <script>
      // build Tween
      var tween = new TimelineMax()
        .from("#gsap-anim", 1.5, {
          rotationY: 180,
          scale: 0.7,
          opacity: 0
        })
        .to("#gsap-anim", 1.5, {
          rotationY: 180,
          scale: 0.7,
          opacity: 0,
          delay: 7
        });


      // build scene
      new ScrollMagic.Scene({
          triggerElement: "#gsap-trigger",
          triggerHook: "onEnter", // show, when scrolled 10% into view
          duration: "100%", // use full viewport
          offset: 50 // move trigger to center of element
        })
        .setTween(tween)
        .addIndicators({
          name: "GSAP"
        }) // add indicators (requires plugin)
        .addTo(controller);

    </script>
  </section>
  <div class="spacer s_viewport"></div>
</div> -->
