 .digit {
   opacity: 0;
   -webkit-transform: translateX(-40px);
   -moz-transform: translateX(-40px);
   -ms-transform: translateX(-40px);
   -o-transform: translateX(-40px);
   transform: translateX(-40px);
   -webkit-transition: all 0.6s ease-out;
   -moz-transition: all 0.6s ease-out;
   -ms-transition: all 0.6s ease-out;
   -o-transition: all 0.6s ease-out;
   transition: all 0.6s ease-out;
 }

 .digit.visible {
   opacity: 1;
   -webkit-transform: none;
   -moz-transform: none;
   -ms-transform: none;
   -o-transform: none;
   transform: none;
 }

 .digit:nth-child(2) {
   margin-top: 50px;
 }

 .digit:nth-child(3) {
   margin-top: 100px;
 }

 .digit:nth-child(4) {
   margin-top: 150px;
 }

 .digit:nth-child(5) {
   margin-top: 200px;
 }

 #reveal1 {
   opacity: 0;
   -webkit-transform: scale(0.9);
   -moz-transform: scale(0.9);
   -ms-transform: scale(0.9);
   -o-transform: scale(0.9);
   transform: scale(0.9);
   -webkit-transition: all 1s ease-in-out;
   -moz-transition: all 1s ease-in-out;
   -ms-transition: all 1s ease-in-out;
   -o-transition: all 1s ease-in-out;
   transition: all 1s ease-in-out;
 }

 #reveal1.visible {
   opacity: 1;
   -webkit-transform: none;
   -moz-transform: none;
   -ms-transform: none;
   -o-transform: none;
   transform: none;
 }

 #reveal2 {
   opacity: 0;
   -webkit-transform: rotate(40deg) scale(0.5);
   -moz-transform: rotate(40deg) scale(0.5);
   -ms-transform: rotate(40deg) scale(0.5);
   -o-transform: rotate(40deg) scale(0.5);
   transform: rotate(40deg) scale(0.5);
   -webkit-transition: all 0.8s ease-in-out;
   -moz-transition: all 0.8s ease-in-out;
   -ms-transition: all 0.8s ease-in-out;
   -o-transition: all 0.8s ease-in-out;
   transition: all 0.8s ease-in-out;
 }

 #reveal2.visible {
   opacity: 1;
   -webkit-transform: none;
   -moz-transform: none;
   -ms-transform: none;
   -o-transform: none;
   transform: none;
 }
