<app-nav-bar></app-nav-bar>
<app-side-nav></app-side-nav>
<div class="col s12">
<div class="container" style="padding-top: 50px;">
    <h1>Add new Block</h1>
    
    <form [formGroup]="newblockForm" (ngSubmit)="onNewForm()" >
      <div class="form-group">
        <label for="name">Block Name</label>
        <input
          type="text"
          class="form-control"
          id="name"
          formControlName="name"
          required
          ngModel
        />
      </div>
  
      <div class="form-group">
        <label for="alterEgo">Location</label>
        <input
          type="text"
          class="form-control"
          id="alterEgo"
          formControlName="location"
          ngModel
        />
      </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>
</div>