<div class="col s12">
  <div class="container">
    <div class="alert alert-success" *ngIf="notifyMessage">
      {{ notifyMessage }}
    </div>
    <div id="form">
      <h2>Login</h2>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email">Email</label>
          <!-- type="email" -->
          <!-- aria-describedby="email" -->
          <input
            class="form-control"
            id="email"
            placeholder="email@local.com"
            formControlName="email"
          />
          <div *ngIf="isInvalidForm('email')" class="alert alert-danger">
            <div *ngIf="isRequired('email')">
              Email is required.
            </div>
            <div *ngIf="loginForm.controls['email'].errors.pattern">
              Please provide a valid Email
            </div>
          </div>
        </div>
      </form>
      <div class="footer register-footer text-center">
        <h6>
          &copy;{{ test | date: "yyyy" }}, made with
          <i class="fa fa-heart heart"></i> by
          <hr />
          <span class="social-line"> !WORKING</span>
          TEAM
        </h6>
      </div>
    </div>
  </div>
</div>
