body {
  margin: 0;
}

canvas {
  width: 100%;
  height: 100%;
}

.main {
  position: fixed;
  top: 25%;
  left: 0.3em;
  font-family: "Montserrat";
  font-size: 7em;
  text-transform: uppercase;
  width: auto;
  line-height: 0.9em;
  border: 5px solid black;
  padding: 0.2em;
}

.main > #Blocks {
  color: red;
}
